<%- include('./partials/head', {pageTitle: 'Calendário', cssName:'appointment'}) %>
<%- include('./partials/navbar') %>
<main>
  <div class="container">
    <h1 class="title"><%= title %></h1>
    <div class="calendar">
      <form action="/api/appointments/time" method="GET">
        <input type="hidden" name="dia" id="hidden" />
        <div class="grid-container">
          <div class="dom item">dom</div>
          <div class="seg item">seg</div>
          <div class="ter item">ter</div>
          <div class="qua item">qua</div>
          <div class="qui item">qui</div>
          <div class="sex item">sex</div>
          <div class="sab item">sab</div>
          <% for( let i = 0; i < diasMes.length; i++ ) { %>
          <input
            type="button"
            id="<%- [i] %>"
            value="<%- diasMes[i] %>"
            class="dias"
          />
          <% } %>
        </div>
        <div class="submit">
          <button class="btn" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Reservar
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include('./partials/footer') %>
