<%- include('./partials/head', {pageTitle: 'Horários', cssName:'time'}) %>
<%- include('./partials/navbar') %>
<main>
  <section class="container">
    <h1 class="title"><%= timeTitle %></h1>
      <div class="calendar">
        <form action="/api/appointments/create" method="">
          <input type="hidden" name="time" id="hidden">
          <div class="item">Horários</div>
          <div class="flex-container">
            <% for( let i = 0; i < result.length; i++ ) { %>
              <input type="button" id="<%- [i] %>"  value="<%- result[i] %>" class="times">
              <% } %>
          </div>
          <div class="submit">
            <button class="btn" type="submit">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Reservar
            </button>
          </div>
        </form>
      </div>
  </section>
</main>
<%- include('./partials/footer') %>
